<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="Common.TestNGListeners"/>
    </listeners>

    <!--    <parameter name="browser" value="chrome"/>-->
    <test name="Amazon Test">
        <classes>
            <class name="Tests.AmazonTest"/>
        </classes>
    </test>

    <test name="QA Click Academy">
        <classes>
            <class name="Tests.QAClickAcademyTest"/>
        </classes>
    </test>

    <test name="GreenKartTest">
        <classes>
            <class name="Tests.GreenKartTest"/>
        </classes>
    </test>

</suite>
